
<%- include('_layout/doctype.ejs') %> 
<div id="app" class="app app-full-height app-without-header">

    <div class="register">

        <div class="register-content">
        <div name="register_form">
        <h1 class="text-center">Sign Up</h1>
        <p class="text-inverse text-opacity-50 text-center">One Admin ID is all you need to access all the Admin services.</p>
        <div id="error-messages"></div>
        <div class="mb-3">
        <label class="form-label">Username <span class="text-danger">*</span></label>
        <input type="text" id="username"  class="form-control form-control-lg bg-inverse bg-opacity-5" placeholder="e.g John Smith" value="">
        </div>
        <div class="mb-3">
        <label class="form-label">Email Address <span class="text-danger">*</span></label>
        <input text" type="email" id="email"  class="form-control form-control-lg bg-inverse bg-opacity-5" placeholder="username@address.com" value="">
        </div>
        <div class="mb-3">
        <label class="form-label">Password <span class="text-danger">*</span></label>
        <input type="password" id="password"  class="form-control form-control-lg bg-inverse bg-opacity-5" value="">
        </div>
        <div class="mb-3">
        <label class="form-label">Confirm Password <span class="text-danger">*</span></label>
        <input type="password" id="confirm_password" class="form-control form-control-lg bg-inverse bg-opacity-5" value="">
        </div>
        
      
   
        <div class="mb-3">
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="customCheck1">
        <label class="form-check-label" for="customCheck1">I have read and agree to the <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</label>
        </div>
        </div>
        <div class="mb-3">
        <button id="Register" type="button" class="btn btn-outline-theme btn-lg d-block w-100">Sign Up</button>
        </div>
        <div class="text-inverse text-opacity-50 text-center">
        Already have an Admin ID? <a href="/admin/login">Sign In</a>
        </div>
        </div>
        </div>
        
        </div>
    
    

   
    <script>
        // Gửi Data
        $("#Register").on("click", function() {
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: "/user/register",
                data: {
                    type: 'Register',
                    email: $("#email").val(),
                    username: $("#username").val(),
                    password: $("#password").val(),
                    confirm_password: $("#confirm_password").val(),
                },
                success: function(res) {
                    Swal.fire({
                        icon: res.status === true ? "success" : "error",
                        title: 'Thông Báo',
                        text: res.message
                    }).then((result) => {
                        if (res.status === true) {
                            window.location.href = "/";
                        } else {
                            // Handle login failure
                        }
                    });
                },
                error: function(xhr, status, error) {
                    if (xhr.status === 422) {
                        // Validation errors
                        var errors = xhr.responseJSON.result;
                        console.log(errors)
                        var errorString = "";
                        for (var key in errors) {
                        if (Array.isArray(errors[key])) {
                            errorString += key + ": " + errors[key].join(', ') + "<br>";
                        } else {
                            errorString += key + ": " + errors[key].msg + "<br>";
                        }
                    }
                        $('#error-messages').html('<div class="alert alert-danger">' + errorString + '</div>');
                    } else {
                        // Other errors
                        console.error(error);
                    }
                },
            });
        });
    </script>
    
    <%- include('_layout/footer.ejs') %> 