<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
<meta charset="utf-8">
<title>HUD | Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content>
<meta name="author" content>
<link href="/template/css/vendor.min.css" rel="stylesheet">
<link href="/template/css/app.min.css" rel="stylesheet">
<link href="/template/css/jquery-jvectormap.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xQeP2mj4k64fP65HTmJAxKGgPc/3TEQ5PdUW3UDUFsg5L2WnhXp8R9TJdgwP5c6Tt70J3iJgT+5Sf9poQwC2Jw==" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-loading-overlay/2.1.7/loadingoverlay.min.js"></script>
</head>
<body class="pace-done pace-top app-init">