<div id="sidebar" class="app-sidebar">

  <div class="app-sidebar-content" data-scrollbar="true" data-height="100%" data-init="true" style="height: 100%; overflow-x: scroll;">
  
  <div class="menu">
  <div class="menu-header">Navigation</div>
  <div class="menu-item">
  <a href="/admin" class="menu-link">

  <span class="menu-text">Dashboard</span>
  </a>
  </div>


  <div class="menu-header">Components</div>
  <div class="menu-item">
  <a href="/admin" class="menu-link">

  <span class="menu-text">Widgets</span>
  </a>
  </div>
 
  
 
 
  <div class="menu-divider"></div>
  <div class="menu-header">Users</div>
  <div class="menu-item active">
  <a href="/admin/profile" class="menu-link">

  <span class="menu-text">Profile</span>
  </a>
  </div>
  </div>
  </div>
  </div>
  <button class="app-sidebar-mobile-backdrop" data-toggle-target=".app" data-toggle-class="app-sidebar-mobile-toggled"></button>